<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<!DOCTYPE html>
<html>

<head>
  <title>NEXION Forms</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
    integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>

<body>
  <br><br><br><br><br>
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="user_card">
        <div class="d-flex justify-content-center">
          <div class="brand_logo_container">
            <img src="assets/images/logo-nexion.jpeg" class="brand_logo"
              alt="Logo">
          </div>
        </div>
        <div class="d-flex justify-content-center form_container">
          <form class="form-signin" method="POST">
            <div class="input-group mb-3">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input type="text" id="usuario" name="" class="form-control input_user" placeholder="Usuario"
                [(ngModel)]="username" autofocus [ngModelOptions]="{standalone: true}">
            </div>
            <div class="input-group mb-2">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input type="password" id="inputPassword" name="" class="form-control input_pass" placeholder="Contraseña"
                required [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="d-flex justify-content-center mt-3 login_container">
              <button type="submit" (click)="onSubmitLogin();" name="button" class="btn login_btn">Ingresar</button>
            </div>
          </form>
        </div>

        <div class="mt-4">
          <div class="d-flex justify-content-center links" style="color:white">
            ¿No tienes una cuenta? <a href="https://nexions.com/" class="ml-2">Regístrate</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br><br>
  <br><br><br><br><br>
</body>

</html>